__pycache__
*.py[cod]
*$py.class

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Log files
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Translations
*.mo
*.pot

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pyflow
__pypackages__/

# Environment
.env
.venv
env/
venv/
ENV/

# If you are using PyCharm # 
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml 
.idea/**/gradle.xml 
.idea/**/libraries 
*.iws /out/ 

# Sublime Text
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history


# Mac unuseful files and folders #
.DS_Store
Icon\r
24.- Aprendizaje supervisado - Clasificacion por kernels y bioinspirados/Icon
05.- Python estructuras de datos con NumPy y manejo de archivos/Icon
05.- Python estructuras de datos con NumPy y manejo de archivos/Icon
06.- Python estructuras de datos con Pandas y manejo de archivos/Icon
07.- Ejercitacion de programacion con Python/Icon
08.- Representacion de la informacion/Icon
10.- Estadistica descriptiva con Python/Icon
13.- Preprocesamiento y preparacion de datos - Practica/Icon
17.- Ejercitacion sobre Lenguaje SQL/Icon
18.- Aprendizaje no supervisado - Agrupamiento de datos/Icon
20.- Aprendizaje supervisado – Analisis de regresion/Icon
22.- Aprendizaje supervisado – Clasificacion basada en arboles/Icon
23.- Aprendizaje supervisado – Clasificacion probabilistica y por similitudes/Icon
25.- Aprendizaje supervisado – Evaluacion de clasificadores/Icon
.gitignore
26.- Caso de estudio de Aprendizaje Automatizado/Icon
21.- Aprendizaje supervisado – Analisis de regresion (practica)/Icon
